<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Trial Balance{% endtrans %}</title>
    <style media="screen">
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label {
  		font-size: 90%;
  	}
    </style>
  </head>
  <body>
    <div style="padding-top:5px" class="container-fluid mainbox col-md-4 col-md-offset-4">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View Trial Balance{% endtrans %}</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

          <label for="trialbal_todate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

          <label for="trialbal_todate">{% trans %}Please enter date within the financial year!{% endtrans %}</label>
        </div>
        <label for="trialbal_fromdate">{% trans %}From{% endtrans %} :</label>
        <div class="form-inline">
          <div class="form-group">

            <input type="text" class="form-control input-sm" id="trialbal_fromdate" value="" disabled size="2" maxlength="2" placeholder="DD">
            <input type="text" class="form-control input-sm" id="trialbal_frommonth" value="" disabled size="2" maxlength="2" placeholder="MM">
            <input type="text" class="form-control input-sm" id="trialbal_fromyear" value="" disabled size="4" maxlength="4" placeholder="YYYY">
          </div>
        </div>
        <br>
        <label for="trialbal_todate">{% trans %}To{% endtrans %} :</label>
        <div class="form-inline">
          <div class="form-group">

          <input type="text" class="form-control input-sm trialbal_autotab" id="trialbal_todate" value=""  size="2" maxlength="2" placeholder="DD" accesskey="d">
          <input type="text" class="form-control input-sm trialbal_autotab" id="trialbal_tomonth" value="" size="2" maxlength="2" placeholder="MM">
          <input type="text" class="form-control input-sm trialbal_autotab" id="trialbal_toyear" value="" size="4" maxlength="4" placeholder="YYYY">
        </div>
        </div>
        <br>
        <div class="form-group">
          <label for="trialbal_type" accesskey="t">{% trans %}<u>T</u>rial Balance Type{% endtrans %} :</label>
          <select class="form-control input-sm" name="" id="trialbal_type">
            <option value="1">{% trans %}Net Trial Balance{% endtrans %}</option>
            <option value="2">{% trans %}Gross Trial Balance{% endtrans %}</option>
            <option value="3">{% trans %}Extended Trial Balance{% endtrans %}</option>
          </select>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-sm btn-success" name="button" id="trialbal_view" accesskey="v">{% trans %}<u>V</u>iew{% endtrans %}</button>
        <button type="button" name="button" class="btn btn-sm btn-danger" id="trialbal_reset" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewtrialbalance.js')}}"></script>
  </body>
</html>
